@import '~bootstrap/dist/css/bootstrap.min.css';

#output-section {
    border-radius: 10px;
    max-width: 1000px;
    padding: 5px; 
    margin: 10px; 
    height: 500px;
    overflow: scroll;
    background-color: lightgoldenrodyellow; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3, h4 {
    text-align: center;
}

h1{
    text-align: center;
}



body{
    
    background-image:url(Logo.png);
   
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: antiquewhite;
    
}
ul{
    font-family: Arial, Verdana;
     font-size: 14px;
     margin: 0 auto;
     padding: 0;
     width:600px;
     list-style: none;
}

.actions{
    position: absolute; right: 0;
}




